@using Newtonsoft.Json;
@using EventChart_Core;
@model List<dynamic>;
@{
  ViewData["Title"] = "LoginList";
  @* 取新增刪除修改狀態資料 *@
  string resMsg = Convert.ToString(TempData["ExcuteStatus"]);

  @* 取列表資料 方法一：DeserializeObject*@
  @* List<login> LoginData = JsonConvert.DeserializeObject<List<login>>(Context.Session.GetString("LoginData"));
    //使用session*@

  @* 取列表資料 方法二：Model*@
  List<dynamic> LoginData = Model.ToList();
}

@* 功能列 *@
<div class="row">
  <div class="col-4">
    <div class="btn-group">
      <a
        href="#"
        class="btn btn-primary active"
        aria-current="page"
      >Login</a>
      <a
        class="btn btn-primary"
        href="/System/Login/list"
      >列表</a>
    </div>
  </div>
  <div class="col text-end">
    <a
      href="#"
      onclick="searchAction('up',-1)"
    >上一頁</a> <a
      href="#"
      onclick="searchAction('next',1)"
    >下一頁
    </a>
    @ViewData["pageNum"] / @ViewData["pageTotal"]
    ：總筆數 : @ViewData["listCount"]

    <input
      type="hidden"
      id="pageNum"
      value='@ViewData["pageNum"]'
    >
  </div>
</div>

@* 查詢 *@
<div class="row m-2"></div>
<div class="row g-3 ">
  <div class="col-sm-2">
    <input
      type="text"
      class="form-control"
      placeholder="帳號"
      id="empy_name"
    >
  </div>
  <div class="col-sm">
    <div class="btn-group">
      <button
        class="btn btn-info"
        onclick="searchAction('search',0)"
      > 查詢 </button>
    </div>
  </div>
</div>
@* 顯示執行狀態資料 *@
@{
  if (resMsg != "" && resMsg != null)
  {
    <div class="row m-2"></div>
    <div
    class="alert alert-warning alert-dismissible fade show "
    role="alert"
  >
      <strong>@resMsg</strong>
      <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
    </div>
  }
}

@*  列表 *@

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">登入帳號</th>
      <th scope="col">登入時間 </th>
      <th scope="col">狀態</th>
      <th scope="col">說明</th>
    </tr>
  </thead>
  <tbody>
    @{
      @* 確認是否有值 *@
      if (LoginData != null)
      {

        @* 顯示資料 *@
        for (int i = 0; i < LoginData.Count; i++)
        {
          <tr onclick="gotoDetail('@LoginData[i].login_id')">
            <th scope="row">@LoginData[i].login_id</th>
            <td>@LoginData[i].empy_name</td>
            <td>@LoginData[i].created_datetime</td>
            <td>@LoginData[i].status</td>
            <td>@LoginData[i].note</td>
          </tr>
        }
      }
      else
      {
        <tr>
          <td colspan="8">尚無資料</td>
        </tr>
      }
    }
  </tbody>
</table>

@{
  if (LoginData == null)
  {
    <div class="p-3 mb-2  bg-light text-darke">尚無資料</div>
  }
}

@section scripts{
<script>
  $(document).ready(function () {
    @* --- *@
  });
  @* 明細頁面 *@
    function gotoDetail(login_id) {
      let url = "/System/Login/Detail?act=note&login_id=" + login_id;
      window.location.href = url;
    }
  @* 查詢 *@
    function searchAction(type, num) {
      let getString = "";
      let pageNum = 1;
      if (type != 'search') pageNum = parseInt($("#pageNum").val()) + parseInt(num);
      getString += "pageNum=" + pageNum;
      getString += "&empy_name=" + $("#empy_name").val();
      let url = encodeURI("/System/Login/list?" + getString);
      window.location.href = url;
    };
</script>
}
